DATABASE_URL="postgresql://neondb_owner:YOUR_NEON_PASSWORD@ep-bitter-hall-aylrwkw6.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&schema=careerhub"
JWT_SECRET="careerhub_super_secret_jwt_key_983741893721_prod_2026"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
